
* {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */

}

html{
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5.5fr;
}


.sidebar{
    background-color: #025E73;
    display: grid;
    grid-template-rows: 100px 200px 200px;
    gap: 25px;
    height: 100vh;
    justify-content: start;
    grid-row: 1/-1;
}



.branding h2{
    color: white;

}


.branding{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 10px
}

.menu > li, .settings-menu > li{
    list-style-type: none;

    color: white;
}

.menu a, .settings-menu a{
    text-decoration: none;
    color: white;
    justify-self: start;
    align-self: center;
    font-weight: bold;
    font-size: 1.2em;
}


.menu, .settings-menu{
    display: grid;
    grid-template-rows: repeat(6,1fr);

}

.menu, .settings-menu, .branding{
    padding-left: 20px;

}

.menu > span, .settings-menu > span{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 15px;
}


.header{
    display: grid;
    box-shadow: grey 0 1px 20px;
    z-index: 1;

    grid-template-rows: 1fr 1fr;
}

.header > .bottom-row{
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 1fr;
    gap: clamp(50px, 30%, 500px);

}


.header > .bottom-row > .left-items{
    display: grid;
    grid-template-columns: 1fr 6fr;
    justify-items: start;

}




.header > .bottom-row > .right-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-items: start;
    align-items: center;
}




button{
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.cta-button{
    background-color: #025E73;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1em;
    padding: 10px 20px;

    height: 40px;
    width: 100px;
}

.welcome span{
    font-size: 0.8em;
    font-weight: bold;
    align-self: end;

}

.user{
    font-size: 1.4em;
}

.welcome{
    display: grid;
    grid-template-rows: .5fr 1fr;

}

.top-row{
    display: grid;
    grid-template-columns: 4fr 2fr
}

.top-row > .left-items{
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.top-row > .right-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.notifications{
    justify-self: end;
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}
.notifications:hover{
    cursor: pointer;
}

.main-username{
    justify-self: start;
}

.logo{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    scale: 130%;

}

.search{
    background-color: #E2E8F0;
    border-radius: 30px;
    height: 30px;
    align-self: center;
}

.search:hover{
    cursor: text;
}

.main-content{
    background-color: #DEE3EB;
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    gap: 25px;

}

.search-icon{
    justify-self: center;
    align-self: center;
    width: 30px;
    margin-left: 20px;
    height: 30px;

}
.search-icon:hover{
    cursor: pointer;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    grid-auto-rows: 1fr;
    gap: 5px;
    margin-left: 25px;



}

.projects > .title{
    grid-column: 1 / -1;
    font-size: 1.2em;
    font-weight: 500;
    align-self: end;

}

.item > .title{
    align-self: end;
    font-weight: 500;

}

.item{
    display: grid;
    grid-template-rows: 2fr 4fr 1px;

}

.spacer{
    background-color: lightgrey;
}

.project-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 25px;
    grid-column: 1 / -1;
    margin-bottom: 50px;



}

.card{
    display: grid;
    grid-template-columns: 10px 1fr;
    grid-template-rows: 1.2fr 1fr;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

}

.colour-bar{
    background-color: #F2A71B;
    grid-column: 1/2;
    grid-row: 1/-1;

}


.project-description{
    font-size: 0.8em;
    padding-right: 50px;
    color: #636363;
}

.description, .trending-project{
    color: #636363;
}

.card > .top-row{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    padding-right: 50px;
    gap: 5px;
    grid-column: 2/3;
    grid-row: 1 / 2;
}

.card > .top-row > h4{
    align-self: end;
}

.card > .bottom-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2/3;
}

.card > .bottom-row > .right-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: end;
    align-self: center;
    margin-right: 20px;
    align-items: end;
    padding: 5px;
    gap: 20px;

}

.star-like,.watch,.share{
    height: 25px;
    width: 25px;

}

.star-like:hover,.watch:hover,.share:hover {
    cursor: pointer;
}


.profileImg-small{
    height: 50px;
    width: 50px;
    border: black solid 1px;
    border-radius: 50%;
}

.profileImg-small:hover{
    cursor: pointer;
}

.profileImg{
    height: 60px;
    width: 60px;
    border: black solid 1px;
    border-radius: 50%;
    margin-left: 20%;
    align-self: center;
    margin-bottom: 10px;



}

.project-info{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
}

.annoucements{
    display: grid;
    grid-template-rows: 50px 10fr;
    gap: 5px;
}

.annoucements > .card-title{

    align-self: end;
}


.card-title{
    font-size: 1.2em;
    font-weight: 500;

}
.annoucement-card{
    display: grid;
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
}

.annoucement-card p{
    font-size: 0.7em;
}

.trending{
    display: grid;
    grid-template-rows: 50px 1fr;
    gap: 5px;
}

.trending > .card-title{
    align-self: end;
}

.trending-card{
    display: grid;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    grid-template-columns: 1fr;
    gap: 10px;
}

.trending-item
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.trending-item:hover{
    cursor: pointer;
}

.trending-profileImg{
    grid-row: 1 / -1;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    justify-self: center;
    align-self: center;
}
.trending-username{
    align-self: end;
    font-size: 0.7em;
}

.trending-project{
    align-self: start;
    font-size: 0.8em;
}

.home-icon, .profile-icon, .message-icon, .history-icon, .tasks-icon,.communities-icon,.settings-icon,.support-icon,.privacy-icon{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    justify-self: center;
    align-self: center;
    height: 20px;
    width: 20px;

}

.menu a {
    align-items: center;
}

.menu img, .settings-menu img{
    cursor: pointer;
}

