* {
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}


.sidebar{
    background-color: #1992D4;
    display: grid;
    grid-template-rows: 100px 200px 200px;
    gap: 20px;
    height: 100vh;
    justify-content: center;
}

.branding h2{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 1em;

}

.branding{
    display: grid;
    grid-template-columns: .5fr .5fr;
    align-items: center;
    gap: 10px;

}

.menu > ul, .settings-menu > ul{
    list-style-type: none;

    color: white;
}

.menu a, .settings-menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}


