* {
    margin: 0;
    padding: 0;
    border: 1px dotted red;
    overflow: hidden;

}

.container{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
}


.sidebar{
    background-color: #1992D4;
    display: grid;
    grid-template-rows: 100px 200px 200px;
    gap: 25px;
    height: 100vh;
    justify-content: start;
    grid-row: 1/-1;
}

.branding h2{
    color: white;

}


.branding{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;


}

.menu > li, .settings-menu > li{
    list-style-type: none;

    color: white;
}

.menu a, .settings-menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}


.menu, .settings-menu{
    display: grid;
    grid-template-rows: repeat(6,1fr);
}

.menu, .settings-menu, .branding{
    padding-left: 20px;

}

.menu > span, .settings-menu > span{
    display: grid;
    grid-template-columns: 1fr 4fr;
}


.header{
    display: grid;
    box-shadow: black 0 0 10px;
    grid-template-rows: 1fr 1fr;
}

.header > .bottom-row{
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 1fr;
    gap: clamp(50px, 30%, 500px);
}


.header > .bottom-row > .left-items{
    display: grid;
    grid-template-columns: 1fr 6fr;
    justify-items: start;

}

.profileImg{
    justify-self: end;
    padding-right: 50px;
}


.header > .bottom-row > .right-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-items: start;
    align-items: center;
}



button{
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.cta-button{
    background-color: #1992D4;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1em;
    padding: 10px 20px;

    height: 40px;
    width: 100px;
}

.welcome span{
    font-size: 0.8em;
    font-weight: bold;

}

.user{
    font-size: 1.4em;
}

.welcome{
    display: grid;
    grid-template-rows: .5fr 1fr;
}

.top-row{
    display: grid;
    grid-template-columns: 4fr 2fr
}

.top-row > .left-items{
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.top-row > .right-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

}

.search{
    background-color: #E2E8F0;
    border-radius: 30px;
    height: 30px;
    align-self: center;
}
.main-content{
    background-color: #DEE3EB;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;

}

.search-icon{
    justify-self: center;
    align-self: center;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    grid-auto-rows: 1fr;
    gap: 5px;
    margin-left: 10px;
    margin-bottom: 50px;

}

.title{
    grid-column: 1 / -1;
    align-self: end;
}

.project-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(200px, 200px));
    gap: 25px;
    grid-column: 1 / -1;

}

.card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 140px 40px;
    background-color: white;
    border-radius: 10px;
}

.project-description{
    font-size: 0.8em;
}

.card > .top-row{
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
    gap: 5px;
    grid-row: 1 / 2;
}

.card > .top-row > h4{
    align-self: end;
}

.card > .bottom-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card > .bottom-row > .right-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: end;
    margin-right: 20px;
    align-items: end;
    padding: 5px;


}

.project-info{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.annoucements{
    display: grid;
    grid-template-rows: 50px 10fr;
    gap: 5px;
}

.annoucements > .card-title{
    align-self: end;
}

.annoucement-card{
    display: grid;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.trending{
    display: grid;
    grid-template-rows: 50px 1fr;
    gap: 5px;
}

.trending > .card-title{
    align-self: end;
}

.trending-card{
    display: grid;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    grid-template-columns: 1fr;
    gap: 10px;
}

.trending-item
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;


}

.trending-profileImg{
    grid-row: 1 / -1;
}
.trending-username{
    align-self: end;
    font-size: 0.7em;
}

.trending-project{
    align-self: start;
    font-size: 0.8em;
}